.form-group {
  @apply inline-flex w-full rounded-md p-0.5 mt-3 text-white relative overflow-hidden;
  background-color: #423D3D;

  .form-control {
    @apply bg-transparent border-0 p-2.5 outline-0 w-full z-10 rounded-md;
    background-color: #423D3D;

    &::placeholder {
      color: #A1A1A1;
    }
  }

  &::after {
    @apply absolute w-0 h-0.5 bottom-0 z-0;
    content: '';
    background-image: linear-gradient(45deg, #FF50ED 2%, #FFAF37 100%);
    left: 50%;
    transform: translateX(-50%);
    transition: width .5s;
  }

  &:hover::after {
    width: 100%;
  }
}

.btn {
  @apply py-2 px-5 rounded-md select-none;
  font-family: Cubano, sans-serif;

  &-primary {
    @apply text-white;
    background-image: linear-gradient(180deg, #FF50ED -97.37%, #FFAF37 148.25%);
    transition: letter-spacing .2s;

    &:hover {
      @apply tracking-widest;
    }

    &[disabled] {
      background-image: linear-gradient(180deg, lighten(#FF50ED, 3) -97.37%, lighten(#FFAF37, 3) 148.25%);

      &:hover {
        @apply tracking-normal;
      }
    }
  }
}
