@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";
@import "form";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #__next {
  height: 100%;
}

body {
  background-color: #272222;
  color: #fff;
}

@keyframes LogoEffect {
  from {opacity: 0; transform: translate(-50%, -50%) scale(0)}
  to {opacity: 100%; transform: translate(-50%, -50%) scale(1)}
}

.logo {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: LogoEffect 1s ease-in-out;
}

