@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";
@import "keyframes";
@import "form";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #__next {
  height: 100%;
}

body {
  background-color: #272222;
  color: #fff;
}

.Toastify__toast-theme--dark {
  background-color: #423D3D !important;
}

.logo {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: LogoEffect 1s ease-in-out;
}

.gradient {
  background: linear-gradient(#ff50ed, #ffaf37);
  background-size: 200% 200%;
  animation: GradientFade 15s ease infinite;
}
